body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
}

h1 {
    color: hsl(223, 100%, 64%);
}

form {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
    font-weight: boldS;
}

button {
    margin-top: 15px;
    background-color: brown;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(229, 58, 58);
}

#result {
    font-size: 1.75em;
    font-weight: bold;
}